.place.un {
    top: 71vh;
    left: 40vh;
}

.place.deux {
    top: 75vh;
    left: 41vh;
}

.place.trois {
    top: 80vh;
    left: 42vh;
}

.place.quatre {
    top: 85vh;
    left: 43vh;
}

.place.cinq {
    top: 70vh;
    left: 45vh;
}

.place.six {
    top: 69vh;
    left: 50vh;
}

.place.sept {
    top: 68vh;
    left: 55vh;
}

.place.huit {
    top: 67vh;
    left: 60vh;
}

.place.neuf {
    top: 66vh;
    left: 65vh;
}

.place.dix {
    top: 65vh;
    left: 70vh;
}

.place.onze {
    top: 64vh;
    left: 75vh;
}

.place.douze {
    top: 63vh;
    left: 80vh;
}

.place.treize {
    top: 62vh;
    left: 85vh;
}

.place.quatorze {
    top: 61vh;
    left: 90vh;
}

.place.quinze {
    top: 60vh;
    left: 95vh;
}

.place.seize {
    top: 67vh;
    left: 81vh;
}

.place.dix-sept {
    top: 70vh;
    left: 82vh;
}

.place.dix-huit {
    top: 74vh;
    left: 83vh;
}

.place.dix-neuf {
    top: 78vh;
    left: 84vh;
}

.place.vingt {
    top: 59vh;
    left: 100vh;
}
