@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('./src/place_aulnes_V2.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.menu {
    background-color: rgb(51, 51, 51);
    width: 200px;
    height: 100px;
    border-radius: 5%;
    position: relative;
}

.button {
        background-color: #7a7a7a;
        height: 15px;
        width: 50px;
        margin: 3px;
        border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
}

small {
    margin: 100%;
    width: 100%;
    color: white;
}

.text_menu {
    margin: 70px;
}

.showcase {
    background-color: rgb(28, 68, 156);
    display: flex;
}

.showcase small {
    margin: auto;
}

.home {
    width: 15px;
    background-color: black;
}

.home:hover {
    cursor: pointer;
    transform: scale(1);
}

.button.occupied {
    width: 50px;
    background-color: red;
    margin-left: -5%;
}

.button.selected {
    width: 50px;
    background-color: rgb(0, 255, 0);
    margin-left: -15%;
}

.parc {
    position: fixed;
    height: 30vh;
    width: 120vh;
    top: 60vh;
    left: 36vh;
    transform: rotate(-7deg);
    background-color: rgba(0, 0, 0, 0.63);
}

.rue {
    position: fixed;
    height: 110vh;
    width: 10vh;
    top: -10vh;
    left: 170vh;
    transform: rotate(14deg);
    background-color: rgba(0, 0, 0, 0.63);
}

.place {
    position: fixed;
    background-color: #0004f7;
    height: 2vh;
    width: 2vh;
    border-radius: 2.0vh;
}

/* add a color to selected places */
.place.selected {
    background-color: #00ff0d;
}

/* add a color to occupied places */
.place.occupied {
    background-color: #ff0000;
}

.place:not(.occupied):hover {
    cursor: pointer;
    transform: scale(2);
}

.place span {
    position: fixed;
    pointer-events: none; /* Add this line to disable pointer events on the number spans */
    color: white;
    scale: 0.6;
    margin-left: -0.3vh;
}

.adress {
    position: fixed;
    background-color: rgb(51, 51, 51);
    width: 22vh;
    height: 20vh;
    top: 60vh;
    left: 180vh;
    border-radius: 1vh;
}

.text {
    position: fixed;
    margin-left: 1vh;
    color: aliceblue;
}


