.place[id='425'] {
    top: 87vh;
    left: 58vh;
}.place[id='426'] {
    top: 85vh;
    left: 57vh;
}.place[id='427'] {
    top: 83vh;
    left: 56.5vh;
}.place[id='428'] {
    top: 81vh;
    left: 55.5vh;
}.place[id='429'] {
    top: 79vh;
    left: 55vh;
}.place[id='430'] {
    top: 77vh;
    left: 54.5vh;
}.place[id='431'] {
    top: 75vh;
    left: 54vh;
}.place[id='432'] {
    top: 73vh;
    left: 53.5vh;
}.place[id='433'] {
    top: 71vh;
    left: 52.5vh;
}.place[id='434'] {
    top: 69vh;
    left: 52vh;
}.place[id='435'] {
    top: 90vh;
    left: 64vh;
}.place[id='436'] {
    top: 88vh;
    left: 63.5vh;
}.place[id='437'] {
    top: 86vh;
    left: 63vh;
}.place[id='438'] {
    top: 84vh;
    left: 62.5vh;
}.place[id='439'] {
    top: 82vh;
    left: 62vh;
}.place[id='440'] {
    top: 80vh;
    left: 61vh;
}.place[id='441'] {
    top: 78vh;
    left: 60.5vh;
}.place[id='442'] {
    top: 76vh;
    left: 60vh;
}.place[id='443'] {
    top: 74vh;
    left: 59.5vh;
}.place[id='444'] {
    top: 72vh;
    left: 59vh;
}.place[id='445'] {
    top: 70vh;
    left: 58.5vh;
}.place[id='446'] {
    top: 68vh;
    left: 58vh;
}.place[id='447'] {
    top: 90vh;
    left: 66.5vh;
}.place[id='448'] {
    top: 88vh;
    left: 66vh;
}.place[id='449'] {
    top: 86vh;
    left: 65.5vh;
}.place[id='450'] {
    top: 84vh;
    left: 65vh;
}.place[id='451'] {
    top: 82vh;
    left: 64.5vh;
}.place[id='452'] {
    top: 80vh;
    left: 63.5vh;
}.place[id='453'] {
    top: 78vh;
    left: 63vh;
}.place[id='454'] {
    top: 76vh;
    left: 62vh;
}.place[id='455'] {
    top: 74vh;
    left: 61.5vh;
}.place[id='456'] {
    top: 72vh;
    left: 61vh;
}.place[id='457'] {
    top: 70vh;
    left: 60.5vh;
}.place[id='458'] {
    top: 68vh;
    left: 60vh;
}.place[id='459'] {
    top: 90vh;
    left: 72vh;
}.place[id='460'] {
    top: 88vh;
    left: 71.5vh;
}.place[id='461'] {
    top: 86vh;
    left: 71vh;
}.place[id='462'] {
    top: 84vh;
    left: 70.5vh;
}.place[id='463'] {
    top: 82vh;
    left: 70vh;
}.place[id='464'] {
    top: 80vh;
    left: 69vh;
}.place[id='465'] {
    top: 78vh;
    left: 68.5vh;
}.place[id='466'] {
    top: 76vh;
    left: 68vh;
}.place[id='467'] {
    top: 74vh;
    left: 67vh;
}.place[id='468'] {
    top: 72vh;
    left: 66.5vh;
}.place[id='469'] {
    top: 70vh;
    left: 66vh;
}.place[id='470'] {
    top: 68vh;
    left: 65vh;
}.place[id='471'] {
    top: 90vh;
    left: 74vh;
}.place[id='472'] {
    top: 88vh;
    left: 73.5vh;
}.place[id='473'] {
    top: 86vh;
    left: 73vh;
}.place[id='474'] {
    top: 84vh;
    left: 72.5vh;
}.place[id='475'] {
    top: 82vh;
    left: 72vh;
}.place[id='476'] {
    top: 80vh;
    left: 71vh;
}.place[id='477'] {
    top: 78vh;
    left: 70.5vh;
}.place[id='478'] {
    top: 76vh;
    left: 70vh;
}.place[id='479'] {
    top: 74vh;
    left: 69vh;
}.place[id='480'] {
    top: 72vh;
    left: 68.5vh;
}.place[id='481'] {
    top: 70vh;
    left: 68vh;
}.place[id='482'] {
    top: 68vh;
    left: 67vh;
}
/*____________________________ parking _________________________________*/
.place[id='483'] {
    top: 88vh;
    left: 80vh;
}

.place[id='484'] {
    top: 86vh;
    left: 79.5vh;
}

.place[id='485'] {
    top: 84vh;
    left: 79vh;
}

.place[id='486'] {
    top: 82vh;
    left: 78.5vh;
}

.place[id='487'] {
    top: 80vh;
    left: 78vh;
}

.place[id='488'] {
    top: 78vh;
    left: 77.5vh;
}

.place[id='489'] {
    top: 76vh;
    left: 77vh;
}

.place[id='490'] {
    top: 74vh;
    left: 76.5vh;
}

.place[id='491'] {
    top: 72vh;
    left: 76vh;
}

.place[id='492'] {
    top: 70vh;
    left: 75.5vh;
}

.place[id='493'] {
    top: 68vh;
    left: 75vh;
}

.place[id='494'] {
    top: 66vh;
    left: 74.5vh;
}

/*_________________________parking side_____________________________*/

.place[id='495'] {
    top: 86vh;
    left: 92vh;
}

.place[id='496'] {
    top: 85.7vh;
    left: 95vh;
}

.place[id='497'] {
    top: 85.4vh;
    left: 98vh;
}

.place[id='498'] {
    top: 85.1vh;
    left: 101vh;
}

.place[id='499'] {
    top: 84.8vh;
    left: 104vh;
}

.place[id='500'] {
    top: 84.5vh;
    left: 107vh;
}

.place[id='501'] {
    top: 84.2vh;
    left: 110vh;
}

.place[id='502'] {
    top: 83.9vh;
    left: 113vh;
}

.place[id='503'] {
    top: 83.6vh;
    left: 116vh;
}

.place[id='504'] {
    top: 83.3vh;
    left: 119vh;
}

.place[id='505'] {
    top: 83vh;
    left: 122vh;
}

.place[id='506'] {
    top: 82.7vh;
    left: 125vh;
}

.place[id='507'] {
    top: 82.4vh;
    left: 128vh;
}

.place[id='508'] {
    top: 82.1vh;
    left: 131vh;
}

.place[id='509'] {
    top: 81.8vh;
    left: 134vh;
}

.place[id='510'] {
    top: 81.2vh;
    left: 137vh;
}

.place[id='511'] {
    top: 80.8vh;
    left: 140vh;
}

.place[id='512'] {
    top: 80.4vh;
    left: 143vh;
}

.place[id='513'] {
    top: 80vh;
    left: 146vh;
}

.place[id='514'] {
    top: 79.8vh;
    left: 149vh;
}

.place[id='515'] {
    top: 79.4vh;
    left: 152vh;
}

/*_________________________road side_____________________________*/

.place[id='516'] {
    top: 76vh;
    left: 150.5vh;
}

.place[id='517'] {
    top: 74vh;
    left: 149.5vh;
}

.place[id='518'] {
    top: 72vh;
    left: 149vh;
}

.place[id='519'] {
    top: 70vh;
    left: 148.5vh;
}

.place[id='520'] {
    top: 68vh;
    left: 148vh;
}

.place[id='521'] {
    top: 66vh;
    left: 147.5vh;
}

.place[id='522'] {
    top: 64vh;
    left: 147vh;
}

.place[id='523'] {
    top: 62vh;
    left: 146.5vh;
}

.place[id='524'] {
    top: 60vh;
    left: 146vh;
}

.place[id='525'] {
    top: 58vh;
    left: 145.5vh;
}

.place[id='526'] {
    top: 56vh;
    left: 145vh;
}

.place[id='527'] {
    top: 54vh;
    left: 144.5vh;
}

/*_________________________church side_____________________________*/

.place[id='528'] {
    top: 62vh;
    left: 138vh;
}

.place[id='529'] {
    top: 62.2vh;
    left: 136vh;
}

.place[id='530'] {
    top: 62.4vh;
    left: 134vh;
}

.place[id='531'] {
    top: 62.6vh;
    left: 131vh;
}

.place[id='532'] {
    top: 62.8vh;
    left: 128vh;
}

.place[id='533'] {
    top: 63.2vh;
    left: 125vh;
}

.place[id='534'] {
    top: 63.5vh;
    left: 122vh;
}

.place[id='535'] {
    top: 64vh;
    left: 119vh;
}

.place[id='536'] {
    top: 64.5vh;
    left: 116vh;
}

.place[id='537'] {
    top: 65vh;
    left: 113vh;
}

.place[id='538'] {
    top: 65.2vh;
    left: 110vh;
}

.place[id='539'] {
    top: 65.5vh;
    left: 107vh;
}

.place[id='540'] {
    top: 66vh;
    left: 104vh;
}

.place[id='541'] {
    top: 66.2vh;
    left: 101vh;
}

.place[id='542'] {
    top: 66.5vh;
    left: 98vh;
}

.place[id='543'] {
    top: 67vh;
    left: 95vh;
}

.place[id='544'] {
    top: 67.5vh;
    left: 92vh;
}

/*_________________________house side_____________________________*/

.place[id='545'] {
    top: 72vh;
    left: 92vh;
}

.place[id='546'] {
    top: 74vh;
    left: 92.5vh;
}

.place[id='547'] {
    top: 76vh;
    left: 93vh;
}

.place[id='548'] {
    top: 78vh;
    left: 93.5vh;
}

.place[id='549'] {
    top: 80vh;
    left: 94vh;
}

.place[id='550'] {
    top: 82vh;
    left: 94.5vh;
}

/*_________________________place side_____________________________*/
.place[id='1'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='2'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='3'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='4'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='5'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='6'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='7'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='8'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='9'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='10'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='11'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='12'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='13'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='14'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='15'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='16'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='17'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='18'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='19'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='20'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='21'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='22'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='23'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='24'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='25'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='26'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='27'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='28'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='29'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='30'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='31'] {
    top: 82vh;
    left: 94.5vh;
}.place[id='32'] {
    top: 82vh;
    left: 94.5vh;
}
/*_________________________road_____________________________*/
