.place[id='231'] {
    top: 88vh;
    left: 108vh;
}.place[id='230'] {
    top: 86vh;
    left: 108.5vh;
}.place[id='229'] {
    top: 84vh;
    left: 108.8vh;
}.place[id='228'] {
    top: 82vh;
    left: 109vh;
}.place[id='227'] {
    top: 80vh;
    left: 109.2vh;
}.place[id='226'] {
    top: 78vh;
    left: 109.4vh;
}.place[id='225'] {
    top: 76vh;
    left: 109.8vh;
}.place[id='224'] {
    top: 74vh;
    left: 110.2vh;
}.place[id='223'] {
    top: 72.2vh;
    left: 111vh;
}.place[id='222'] {
    top: 70.4vh;
    left: 111.5vh;
}.place[id='221'] {
    top: 68.5vh;
    left: 112vh;
}.place[id='220'] {
    top: 66.5vh;
    left: 112.5vh;
}.place[id='219'] {
    top: 64.5vh;
    left: 113vh;
}.place[id='218'] {
    top: 62.5vh;
    left: 113.5vh;
}.place[id='217'] {
    top: 60.5vh;
    left: 114vh;
}.place[id='216'] {
    top: 58.5vh;
    left: 114.5vh;
}.place[id='215'] {
    top: 56.5vh;
    left: 115vh;
}.place[id='214'] {
    top: 54.5vh;
    left: 115.5vh;
}.place[id='213'] {
    top: 48.5vh;
    left: 116vh;
}.place[id='212'] {
    top: 46.5vh;
    left: 116.2vh;
}.place[id='211'] {
    top: 44.5vh;
    left: 116.5vh;
}.place[id='210'] {
    top: 42.5vh;
    left: 117vh;
}.place[id='209'] {
    top: 40.5vh;
    left: 117.5vh;
}.place[id='208'] {
    top: 38.5vh;
    left: 118vh;
}.place[id='207'] {
    top: 36.5vh;
    left: 118.5vh;
}.place[id='206'] {
    top: 34.5vh;
    left: 119vh;
}.place[id='205'] {
    top: 32.5vh;
    left: 119vh;
}.place[id='204'] {
    top: 30.5vh;
    left: 119vh;
}.place[id='203'] {
    top: 28.5vh;
    left: 119vh;
}.place[id='202'] {
    top: 26.5vh;
    left: 119vh;
}.place[id='201'] {
    top: 24.5vh;
    left: 119vh;
}.place[id='200'] {
    top: 22.5vh;
    left: 119vh;
}.place[id='199'] {
    top: 20.5vh;
    left: 119vh;
}.place[id='198'] {
    top: 18.5vh;
    left: 119vh;
}.place[id='197'] {
    top: 16.5vh;
    left: 119vh;
}.place[id='196'] {
    top: 14.5vh;
    left: 119vh;
}.place[id='195'] {
    top: 12.5vh;
    left: 119vh;
}.place[id='194'] {
    top: 10.5vh;
    left: 118.5vh;
}.place[id='193'] {
    top: 8.5vh;
    left: 118.2vh;
}.place[id='192'] {
    top: 6.5vh;
    left: 118vh;
}.place[id='81'] {
    top: 90vh;
    left: 113vh;
}.place[id='82'] {
    top: 88vh;
    left: 113.2vh;
}.place[id='83'] {
    top: 86vh;
    left: 113.4vh;
}.place[id='84'] {
    top: 84vh;
    left: 113.6vh;
}.place[id='85'] {
    top: 82vh;
    left: 113.8vh;
}.place[id='86'] {
    top: 80vh;
    left: 114vh;
}.place[id='87'] {
    top: 72vh;
    left: 116vh;
}.place[id='88'] {
    top: 70vh;
    left: 116.4vh;
}.place[id='89'] {
    top: 68vh;
    left: 116.8vh;
}.place[id='90'] {
    top: 66vh;
    left: 117.2vh;
}.place[id='91'] {
    top: 64vh;
    left: 117.6vh;
}.place[id='92'] {
    top: 62vh;
    left: 118vh;
}.place[id='93'] {
    top: 60vh;
    left: 118.4vh;
}.place[id='94'] {
    top: 58vh;
    left: 118.8vh;
}.place[id='95'] {
    top: 56vh;
    left: 119.2vh;
}.place[id='96'] {
    top: 54vh;
    left: 119.6vh;
}.place[id='97'] {
    top: 52vh;
    left: 120vh;
}.place[id='98'] {
    top: 50vh;
    left: 120.4vh;
}.place[id='99'] {
    top: 48vh;
    left: 120.8vh;
}.place[id='100'] {
    top: 46vh;
    left: 121.2vh;
}.place[id='101'] {
    top: 44vh;
    left: 121.6vh;
}.place[id='102'] {
    top: 42vh;
    left: 122vh;
}.place[id='103'] {
    top: 40vh;
    left: 122.2vh;
}.place[id='104'] {
    top: 34vh;
    left: 122.8vh;
}.place[id='105'] {
    top: 32vh;
    left: 122.8vh;
}.place[id='106'] {
    top: 30vh;
    left: 122.6vh;
}.place[id='107'] {
    top: 28vh;
    left: 122.6vh;
}.place[id='108'] {
    top: 26vh;
    left: 122.6vh;
}.place[id='109'] {
    top: 24vh;
    left: 122.4vh;
}.place[id='110'] {
    top: 22vh;
    left: 122.4vh;
}.place[id='111'] {
    top: 20vh;
    left: 122.4vh;
}.place[id='112'] {
    top: 18vh;
    left: 122.6vh;
}.place[id='113'] {
    top: 16vh;
    left: 122.6vh;
}.place[id='114'] {
    top: 14vh;
    left: 122.6vh;
}.place[id='115'] {
    top: 12vh;
    left: 122.6vh;
}.place[id='116'] {
    top: 10vh;
    left: 122.6vh;
}.place[id='117'] {
    top: 8vh;
    left: 122.6vh;
}.place[id='118'] {
    top: 6vh;
    left: 122.6vh;
}.place[id='119'] {
    top: 4vh;
    left: 122.6vh;
}.place[id='120'] {
    top: 2vh;
    left: 122.6vh;
}