.place[id='81'] {
    top: 0vh;
    left: 0vh;
}.place[id='82'] {
    top: 0vh;
    left: 0vh;
}.place[id='83'] {
    top: 0vh;
    left: 0vh;
}.place[id='84'] {
    top: 0vh;
    left: 0vh;
}.place[id='85'] {
    top: 0vh;
    left: 0vh;
}.place[id='86'] {
    top: 0vh;
    left: 0vh;
}.place[id='87'] {
    top: 0vh;
    left: 0vh;
}.place[id='88'] {
    top: 0vh;
    left: 0vh;
}.place[id='89'] {
    top: 0vh;
    left: 0vh;
}.place[id='90'] {
    top: 0vh;
    left: 0vh;
}.place[id='91'] {
    top: 0vh;
    left: 0vh;
}.place[id='92'] {
    top: 0vh;
    left: 0vh;
}.place[id='93'] {
    top: 0vh;
    left: 0vh;
}.place[id='94'] {
    top: 0vh;
    left: 0vh;
}.place[id='95'] {
    top: 0vh;
    left: 0vh;
}.place[id='96'] {
    top: 0vh;
    left: 0vh;
}.place[id='97'] {
    top: 0vh;
    left: 0vh;
}.place[id='98'] {
    top: 0vh;
    left: 0vh;
}.place[id='99'] {
    top: 0vh;
    left: 0vh;
}.place[id='100'] {
    top: 0vh;
    left: 0vh;
}.place[id='101'] {
    top: 0vh;
    left: 0vh;
}.place[id='102'] {
    top: 0vh;
    left: 0vh;
}.place[id='103'] {
    top: 0vh;
    left: 0vh;
}.place[id='104'] {
    top: 0vh;
    left: 0vh;
}.place[id='105'] {
    top: 0vh;
    left: 0vh;
}.place[id='106'] {
    top: 0vh;
    left: 0vh;
}.place[id='107'] {
    top: 0vh;
    left: 0vh;
}.place[id='108'] {
    top: 0vh;
    left: 0vh;
}.place[id='109'] {
    top: 0vh;
    left: 0vh;
}.place[id='110'] {
    top: 0vh;
    left: 0vh;
}.place[id='111'] {
    top: 0vh;
    left: 0vh;
}.place[id='112'] {
    top: 0vh;
    left: 0vh;
}.place[id='113'] {
    top: 0vh;
    left: 0vh;
}.place[id='114'] {
    top: 0vh;
    left: 0vh;
}.place[id='115'] {
    top: 0vh;
    left: 0vh;
}.place[id='116'] {
    top: 0vh;
    left: 0vh;
}.place[id='117'] {
    top: 0vh;
    left: 0vh;
}.place[id='118'] {
    top: 0vh;
    left: 0vh;
}.place[id='119'] {
    top: 0vh;
    left: 0vh;
}.place[id='120'] {
    top: 0vh;
    left: 0vh;
}.place[id='121'] {
    top: 0vh;
    left: 0vh;
}.place[id='122'] {
    top: 0vh;
    left: 0vh;
}.place[id='123'] {
    top: 0vh;
    left: 0vh;
}.place[id='124'] {
    top: 0vh;
    left: 0vh;
}.place[id='125'] {
    top: 0vh;
    left: 0vh;
}.place[id='126'] {
    top: 0vh;
    left: 0vh;
}.place[id='127'] {
    top: 0vh;
    left: 0vh;
}.place[id='231'] {
    top: 0vh;
    left: 0vh;
}.place[id='230'] {
    top: 0vh;
    left: 0vh;
}.place[id='229'] {
    top: 0vh;
    left: 0vh;
}.place[id='228'] {
    top: 0vh;
    left: 0vh;
}.place[id='227'] {
    top: 0vh;
    left: 0vh;
}.place[id='226'] {
    top: 0vh;
    left: 0vh;
}.place[id='225'] {
    top: 0vh;
    left: 0vh;
}.place[id='224'] {
    top: 0vh;
    left: 0vh;
}.place[id='223'] {
    top: 0vh;
    left: 0vh;
}.place[id='222'] {
    top: 0vh;
    left: 0vh;
}.place[id='221'] {
    top: 0vh;
    left: 0vh;
}.place[id='220'] {
    top: 0vh;
    left: 0vh;
}.place[id='219'] {
    top: 0vh;
    left: 0vh;
}.place[id='218'] {
    top: 0vh;
    left: 0vh;
}.place[id='217'] {
    top: 0vh;
    left: 0vh;
}.place[id='216'] {
    top: 0vh;
    left: 0vh;
}.place[id='215'] {
    top: 0vh;
    left: 0vh;
}.place[id='214'] {
    top: 0vh;
    left: 0vh;
}.place[id='213'] {
    top: 0vh;
    left: 0vh;
}.place[id='212'] {
    top: 0vh;
    left: 0vh;
}.place[id='211'] {
    top: 0vh;
    left: 0vh;
}.place[id='210'] {
    top: 0vh;
    left: 0vh;
}.place[id='209'] {
    top: 0vh;
    left: 0vh;
}.place[id='208'] {
    top: 0vh;
    left: 0vh;
}.place[id='207'] {
    top: 0vh;
    left: 0vh;
}.place[id='206'] {
    top: 0vh;
    left: 0vh;
}.place[id='205'] {
    top: 0vh;
    left: 0vh;
}.place[id='204'] {
    top: 0vh;
    left: 0vh;
}.place[id='203'] {
    top: 0vh;
    left: 0vh;
}.place[id='202'] {
    top: 0vh;
    left: 0vh;
}.place[id='201'] {
    top: 0vh;
    left: 0vh;
}.place[id='200'] {
    top: 0vh;
    left: 0vh;
}.place[id='199'] {
    top: 0vh;
    left: 0vh;
}.place[id='198'] {
    top: 0vh;
    left: 0vh;
}.place[id='197'] {
    top: 0vh;
    left: 0vh;
}.place[id='196'] {
    top: 0vh;
    left: 0vh;
}.place[id='195'] {
    top: 0vh;
    left: 0vh;
}.place[id='194'] {
    top: 0vh;
    left: 0vh;
}.place[id='193'] {
    top: 0vh;
    left: 0vh;
}.place[id='192'] {
    top: 0vh;
    left: 0vh;
}