.place[id='121'] {
    top: 80vh;
    left: 170vh;
}.place[id='122'] {
    top: 78vh;
    left: 170vh;
}.place[id='123'] {
    top: 74vh;
    left: 170vh;
}.place[id='124'] {
    top: 72vh;
    left: 169.8vh;
}.place[id='125'] {
    top: 70vh;
    left: 169.6vh;
}.place[id='126'] {
    top: 68vh;
    left: 169.4vh;
}.place[id='127'] {
    top: 66vh;
    left: 169.2vh;
}.place[id='128'] {
    top: 64vh;
    left: 169vh;
}.place[id='129'] {
    top: 62vh;
    left: 168.8vh;
}.place[id='130'] {
    top: 60vh;
    left: 168.6vh;
}.place[id='131'] {
    top: 56vh;
    left: 168.4vh;
}.place[id='132'] {
    top: 54vh;
    left: 168.2vh;
}.place[id='133'] {
    top: 52vh;
    left: 168vh;
}.place[id='134'] {
    top: 50vh;
    left: 167.5vh;
}.place[id='135'] {
    top: 46vh;
    left: 167vh;
}.place[id='136'] {
    top: 44vh;
    left: 167vh;
}.place[id='137'] {
    top: 42vh;
    left: 167vh;
}.place[id='138'] {
    top: 40vh;
    left: 167vh;
}.place[id='139'] {
    top: 38vh;
    left: 167vh;
}.place[id='140'] {
    top: 36vh;
    left: 167vh;
}.place[id='141'] {
    top: 32vh;
    left: 167vh;
}.place[id='142'] {
    top: 30vh;
    left: 167vh;
}.place[id='143'] {
    top: 28vh;
    left: 167vh;
}.place[id='144'] {
    top: 26vh;
    left: 167vh;
}.place[id='145'] {
    top: 24vh;
    left: 167vh;
}.place[id='146'] {
    top: 22vh;
    left: 167.5vh;
}.place[id='147'] {
    top: 20vh;
    left: 167.5vh;
}.place[id='148'] {
    top: 16vh;
    left: 167.5vh;
}.place[id='149'] {
    top: 14vh;
    left: 167.5vh;
}.place[id='150'] {
    top: 12vh;
    left: 168vh;
}.place[id='151'] {
    top: 10vh;
    left: 168.5vh;
}.place[id='152'] {
    top: 8vh;
    left: 169vh;
}.place[id='153'] {
    top: 6vh;
    left: 170vh;
}.place[id='154'] {
    top: 4vh;
    left: 170vh;
}.place[id='155'] {
    top: 4vh;
    left: 164vh;
}.place[id='156'] {
    top: 6vh;
    left: 164vh;
}.place[id='157'] {
    top: 8vh;
    left: 164vh;
}.place[id='158'] {
    top: 10vh;
    left: 164vh;
}.place[id='159'] {
    top: 12vh;
    left: 163.5vh;
}.place[id='160'] {
    top: 14vh;
    left: 163.5vh;
}.place[id='161'] {
    top: 16vh;
    left: 163.2vh;
}.place[id='162'] {
    top: 18vh;
    left: 163vh;
}.place[id='163'] {
    top: 20vh;
    left: 163vh;
}.place[id='164'] {
    top: 22vh;
    left: 163vh;
}.place[id='165'] {
    top: 24vh;
    left: 163vh;
}.place[id='166'] {
    top: 26vh;
    left: 163vh;
}.place[id='167'] {
    top: 28vh;
    left: 163vh;
}.place[id='168'] {
    top: 30vh;
    left: 163vh;
}.place[id='169'] {
    top: 32vh;
    left: 163vh;
}.place[id='170'] {
    top: 34vh;
    left: 163vh;
}.place[id='171'] {
    top: 36vh;
    left: 163vh;
}.place[id='172'] {
    top: 38vh;
    left: 163vh;
}.place[id='173'] {
    top: 40vh;
    left: 163vh;
}.place[id='174'] {
    top: 44vh;
    left: 154vh;
}.place[id='175'] {
    top: 43.5vh;
    left: 156vh;
}.place[id='176'] {
    top: 44vh;
    left: 158vh;
}.place[id='177'] {
    top: 44.5vh;
    left: 160vh;
}.place[id='178'] {
    top: 46vh;
    left: 161.5vh;
}.place[id='179'] {
    top: 48vh;
    left: 162vh;
}.place[id='180'] {
    top: 50vh;
    left: 162vh;
}.place[id='181'] {
    top: 52vh;
    left: 162vh;
}.place[id='182'] {
    top: 54vh;
    left: 162vh;
}.place[id='183'] {
    top: 56vh;
    left: 162.5vh;
}.place[id='184'] {
    top: 58vh;
    left: 163vh;
}.place[id='185'] {
    top: 60vh;
    left: 163vh;
}.place[id='186'] {
    top: 62vh;
    left: 163vh;
}.place[id='187'] {
    top: 64vh;
    left: 163vh;
}.place[id='188'] {
    top: 66vh;
    left: 163.5vh;
}.place[id='189'] {
    top: 68vh;
    left: 163.5vh;
}.place[id='190'] {
    top: 70vh;
    left: 164vh;
}.place[id='191'] {
    top: 72vh;
    left: 164vh;
}.place[id='192'] {
    top: 74vh;
    left: 164vh;
}.place[id='293'] {
    top: 44.2vh;
    left: 152vh;
}.place[id='294'] {
    top: 44.4vh;
    left: 150vh;
}.place[id='295'] {
    top: 44.6vh;
    left: 148vh;
}.place[id='296'] {
    top: 44.8vh;
    left: 146vh;
}.place[id='297'] {
    top: 45vh;
    left: 144vh;
}.place[id='298'] {
    top: 45.2vh;
    left: 142vh;
}.place[id='299'] {
    top: 45.4vh;
    left: 140vh;
}.place[id='300'] {
    top: 45.6vh;
    left: 138vh;
}.place[id='301'] {
    top: 45.8vh;
    left: 136vh;
}.place[id='302'] {
    top: 46vh;
    left: 134vh;
}.place[id='303'] {
    top: 46.2vh;
    left: 132vh;
}.place[id='304'] {
    top: 46.4vh;
    left: 130vh;
}.place[id='305'] {
    top: 46.6vh;
    left: 128vh;
}.place[id='306'] {
    top: 46.8vh;
    left: 126vh;
}.place[id='307'] {
    top: 47vh;
    left: 124vh;
}.place[id='308'] {
    top: 47.2vh;
    left: 122vh;
}.place[id='309'] {
    top: 47.4vh;
    left: 120vh;
}.place[id='310'] {
    top: 47.6vh;
    left: 118vh;
}.place[id='311'] {
    top: 47.8vh;
    left: 116vh;
}.place[id='312'] {
    top: 48vh;
    left: 114vh;
}.place[id='313'] {
    top: 48.2vh;
    left: 112vh;
}.place[id='314'] {
    top: 48.4vh;
    left: 110vh;
}.place[id='315'] {
    top: 48.6vh;
    left: 108vh;
}.place[id='316'] {
    top: 48.8vh;
    left: 106vh;
}.place[id='317'] {
    top: 49vh;
    left: 104vh;
}.place[id='318'] {
    top: 49.2vh;
    left: 102vh;
}.place[id='319'] {
    top: 49.4vh;
    left: 100vh;
}.place[id='320'] {
    top: 49.6vh;
    left: 98vh;
}.place[id='321'] {
    top: 49.8vh;
    left: 96vh;
}.place[id='322'] {
    top: 50vh;
    left: 94vh;
}.place[id='323'] {
    top: 50.2vh;
    left: 92vh;
}.place[id='324'] {
    top: 50.4vh;
    left: 90vh;
}.place[id='325'] {
    top: 50.6vh;
    left: 88vh;
}.place[id='326'] {
    top: 50.8vh;
    left: 86vh;
}.place[id='327'] {
    top: 51vh;
    left: 84vh;
}.place[id='328'] {
    top: 51.2vh;
    left: 82vh;
}.place[id='329'] {
    top: 51.4vh;
    left: 80vh;
}.place[id='330'] {
    top: 51.6vh;
    left: 78vh;
}.place[id='331'] {
    top: 51.8vh;
    left: 76vh;
}.place[id='332'] {
    top: 52vh;
    left: 72vh;
}.place[id='333'] {
    top: 52.2vh;
    left: 70vh;
}.place[id='334'] {
    top: 52.4vh;
    left: 68vh;
}.place[id='335'] {
    top: 52.6vh;
    left: 66vh;
}.place[id='336'] {
    top: 52.8vh;
    left: 64vh;
}.place[id='337'] {
    top: 53vh;
    left: 62vh;
}.place[id='338'] {
    top: 53.2vh;
    left: 60vh;
}.place[id='339'] {
    top: 53.4vh;
    left: 58vh;
}.place[id='340'] {
    top: 53.6vh;
    left: 56vh;
}.place[id='341'] {
    top: 53.8vh;
    left: 54vh;
}.place[id='342'] {
    top: 54vh;
    left: 52vh;
}.place[id='343'] {
    top: 54.8vh;
    left: 50vh;
}.place[id='344'] {
    top: 54vh;
    left: 48vh;
}.place[id='345'] {
    top: 54vh;
    left: 46vh;
}.place[id='346'] {
    top: 53.8vh;
    left: 44vh;
}.place[id='347'] {
    top: 53.7vh;
    left: 42vh;
}.place[id='348'] {
    top: 53.6vh;
    left: 40vh;
}.place[id='349'] {
    top: 53.5vh;
    left: 38vh;
}.place[id='350'] {
    top: 53.4vh;
    left: 36vh;
}.place[id='351'] {
    top: 53.3vh;
    left: 34vh;
}.place[id='352'] {
    top: 53.2vh;
    left: 32vh;
}.place[id='353'] {
    top: 53vh;
    left: 28vh;
}.place[id='354'] {
    top: 55vh;
    left: 28vh;
}.place[id='355'] {
    top: 57vh;
    left: 28vh;
}.place[id='356'] {
    top: 59vh;
    left: 29vh;
}.place[id='357'] {
    top: 61vh;
    left: 30vh;
}.place[id='358'] {
    top: 62.5vh;
    left: 31.5vh;
}.place[id='359'] {
    top: 64vh;
    left: 32.5vh;
}.place[id='360'] {
    top: 66vh;
    left: 33.5vh;
}.place[id='361'] {
    top: 67.2vh;
    left: 35vh;
}.place[id='362'] {
    top: 69vh;
    left: 36vh;
}.place[id='363'] {
    top: 70.5vh;
    left: 37.5vh;
}.place[id='364'] {
    top: 72vh;
    left: 38.5vh;
}.place[id='365'] {
    top: 73vh;
    left: 40vh;
}.place[id='366'] {
    top: 74.5vh;
    left: 41vh;
}.place[id='367'] {
    top: 76.2vh;
    left: 42vh;
}.place[id='368'] {
    top: 77.5vh;
    left: 43.5vh;
}.place[id='369'] {
    top: 79vh;
    left: 44.5vh;
}.place[id='370'] {
    top: 80.5vh;
    left: 46vh;
}.place[id='371'] {
    top: 82vh;
    left: 48vh;
}.place[id='372'] {
    top: 83.5vh;
    left: 49.5vh;
}.place[id='373'] {
    top: 85vh;
    left: 51vh;
}.place[id='374'] {
    top: 53vh;
    left: 30vh;
}.place[id='375'] {
    top: 55vh;
    left: 30vh;
}.place[id='376'] {
    top: 57vh;
    left: 30vh;
}.place[id='377'] {
    top: 59vh;
    left: 30.5vh;
}.place[id='378'] {
    top: 60.5vh;
    left: 32vh;
}.place[id='379'] {
    top: 62vh;
    left: 33vh;
}.place[id='380'] {
    top: 64vh;
    left: 34vh;
}.place[id='381'] {
    top: 65.2vh;
    left: 35.5vh;
}.place[id='382'] {
    top: 67vh;
    left: 37vh;
}.place[id='383'] {
    top: 69vh;
    left: 38vh;
}.place[id='384'] {
    top: 70.5vh;
    left: 39.5vh;
}.place[id='385'] {
    top: 72vh;
    left: 41vh;
}.place[id='386'] {
    top: 73.5vh;
    left: 42.2vh;
}.place[id='387'] {
    top: 75vh;
    left: 43vh;
}.place[id='388'] {
    top: 76vh;
    left: 44.5vh;
}.place[id='389'] {
    top: 77.5vh;
    left: 45.5vh;
}.place[id='390'] {
    top: 79vh;
    left: 47vh;
}.place[id='391'] {
    top: 80.5vh;
    left: 48.5vh;
}.place[id='392'] {
    top: 82vh;
    left: 50vh;
}.place[id='393'] {
    top: 83.5vh;
    left: 51.5vh;
}.place[id='394'] {
    top: 85vh;
    left: 53vh;
}
