.place[id='41'] {
    top: 98vh;
    left: 108vh;
}.place[id='42'] {
    top: 96vh;
    left: 109vh;
}.place[id='43'] {
    top: 92vh;
    left: 110vh;
}.place[id='44'] {
    top: 90.2vh;
    left: 110.5vh;
}.place[id='45'] {
    top: 88.5vh;
    left: 111vh;
}.place[id='46'] {
    top: 87vh;
    left: 111.5vh;
}.place[id='47'] {
    top: 85vh;
    left: 112.4vh;
}.place[id='48'] {
    top: 83vh;
    left: 112.6vh;
}.place[id='49'] {
    top: 81vh;
    left: 113vh;
}.place[id='50'] {
    top: 79vh;
    left: 113.2vh;
}.place[id='51'] {
    top: 77vh;
    left: 113.6vh;
}.place[id='52'] {
    top: 75vh;
    left: 113.8vh;
}.place[id='53'] {
    top: 73vh;
    left: 114vh;
}.place[id='54'] {
    top: 71vh;
    left: 114.4vh;
}.place[id='55'] {
    top: 69vh;
    left: 114.8vh;
}.place[id='56'] {
    top: 67vh;
    left: 115vh;
}.place[id='57'] {
    top: 65vh;
    left: 115.4vh;
}.place[id='58'] {
    top: 63vh;
    left: 115.6vh;
}.place[id='59'] {
    top: 61vh;
    left: 115.8vh;
}.place[id='60'] {
    top: 57vh;
    left: 117vh;
}.place[id='61'] {
    top: 55vh;
    left: 117.2vh;
}.place[id='62'] {
    top: 53vh;
    left: 117.4vh;
}.place[id='63'] {
    top: 51vh;
    left: 117.8vh;
}.place[id='64'] {
    top: 49vh;
    left: 118vh;
}.place[id='65'] {
    top: 47vh;
    left: 118.2vh;
}.place[id='66'] {
    top: 45vh;
    left: 118.4vh;
}.place[id='67'] {
    top: 43vh;
    left: 118.8vh;
}.place[id='68'] {
    top: 41vh;
    left: 119vh;
}.place[id='69'] {
    top: 39vh;
    left: 119.3vh;
}.place[id='70'] {
    top: 25vh;
    left: 120vh;
}.place[id='71'] {
    top: 23vh;
    left: 120.2vh;
}.place[id='72'] {
    top: 21vh;
    left: 120.4vh;
}.place[id='73'] {
    top: 19vh;
    left: 120.6vh;
}.place[id='74'] {
    top: 17vh;
    left: 120.8vh;
}.place[id='75'] {
    top: 15vh;
    left: 121vh;
}.place[id='76'] {
    top: 13vh;
    left: 121.2vh;
}.place[id='77'] {
    top: 11vh;
    left: 121.4vh;
}.place[id='78'] {
    top: 9vh;
    left: 121.6vh;
}.place[id='79'] {
    top: 7vh;
    left: 121.8vh;
}.place[id='80'] {
    top: 5vh;
    left: 122vh;
}.place[id='249'] {
    top: 96vh;
    left: 101vh;
}.place[id='248'] {
    top: 94vh;
    left: 101.5vh;
}.place[id='247'] {
    top: 92vh;
    left: 102vh;
}.place[id='246'] {
    top: 90.2vh;
    left: 103vh;
}.place[id='245'] {
    top: 88.2vh;
    left: 103.5vh;
}.place[id='244'] {
    top: 86.2vh;
    left: 104vh;
}.place[id='243'] {
    top: 84.5vh;
    left: 105vh;
}.place[id='242'] {
    top: 82.5vh;
    left: 105.5vh;
}.place[id='241'] {
    top: 80.5vh;
    left: 106vh;
}.place[id='240'] {
    top: 78.5vh;
    left: 106.5vh;
}.place[id='239'] {
    top: 76.5vh;
    left: 107vh;
}.place[id='238'] {
    top: 72vh;
    left: 108.5vh;
}.place[id='237'] {
    top: 70vh;
    left: 109vh;
}.place[id='236'] {
    top: 68vh;
    left: 109vh;
}.place[id='235'] {
    top: 66vh;
    left: 109vh;
}.place[id='234'] {
    top: 60vh;
    left: 107vh;
}.place[id='233'] {
    top: 58.2vh;
    left: 106.5vh;
}.place[id='232'] {
    top: 56.2vh;
    left: 106vh;
}
