@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* define full screan size */
html,body {
    box-sizing: 0;
    margin:0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(51, 51, 51);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden;
}

/* changing main title */
h2, .title{
    color: rgb(255, 255, 255);
    position: relative;
    left: 40%;
}

/* define fully the upper part screen */
.row_up {
    background-color: rgb(51, 51, 51);
    box-sizing: 100%;
    width: 100%;
    height: 50%;
}

/* center img */
.display {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    object-fit: cover;
}

.horizon {
    display: inline-block;
    height: 5px;
    width: 1920px;
    color: rgb(28, 68, 156);
    background-color:  rgb(28, 68, 156);
}

/* define fully he downner part screan */
.row_down {
    background-color: rgb(51, 51, 51);
    width:100%;
    height:50%;
    float:left;
    display: flex;
}

.showcase {
    display: flex;
}

/* cube disigne */
.location {
    background-color: rgb(28, 68, 156);
    box-sizing: 100%;
    margin: 2.5%;
    color: aliceblue;
}

.text_location {
    position: relative;
    left: 30%;
    top: 5px;
}.text_location_aulens {
    position: relative;
    left: 40%;
    top: 5px;
}

a {
    text-decoration: none;
}

.location .selecter {
    margin-top: 2%;
    margin-bottom: -2%;
    width: 100%;
}
